* {margin:0px}

body {width:1024px;
    height: 1024px;
    margin:0px auto; 
    font-family: 'Roboto', sans-serif;
}

.bardiscount {background-color: #1CD1B0;
    color: black;
    height: 38px;
            }

.discount {font-size:15px;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    text-align: left;
    padding: 10px;

}

.caja-titulo {background-color: #00669f;
    height: 101px;
    box-shadow: 0px 10px 7px rgba(0,0,0,0.25);
    }

.titulo {font-size:40px;
    font-weight: 400;
    font-style: normal;
    padding: 28px;
    margin: 0px;
}

.caja-fondo{ background-image: url("../img/fondo1.png");
background-size:contain;
position: relative;
top:154px;
left:34px;
width:300px;
height: 193px;
}

.corazon {position:absolute;
    z-index:10px;
    text-align: left;
}

.caja-texto {
    width: 300px;
    height: 336px;
    background-color: #f3f3f3;
    position: relative;
    left: 34px;
    margin-bottom: 180px;}

.titulo2 {
    font-size:30px;
    text-align: center;
    color:black;
    padding-top:70px;
    } 

.texto {position:relative;
top: 10px;
font-size: 16px;
text-align: left;
color:black;
padding-left:10px;
padding-right: 10px;
}

.caja-foto {position: relative;
    top:50px;
    left: 120px;
    z-index: 10px;}

.foto {  border-radius: 50%;
    }

.link{position: relative;
    left: 85px;
    top:85px;
    text-decoration: none;
    color: #f3f3f3;
    background-color: #00669f;
    text-align: center;
    padding: 15px 37px;
}

footer {background-color: #00669f;
    height: 51px;
    }
